https://www.udemy.com/course/complete-python-bootcamp/learn/quiz/4397024#questions    
https://www.geeksforgeeks.org/args-kwargs-python/    
https://stackabuse.com/variable-length-arguments-in-python-with-args-and-kwargs/     
http://sqlfiddle.com/#!9/001e3a/44    
https://docs.python.org/3/tutorial/classes.html    
https://www.programiz.com/python-programming/methods/built-in/sum

CREATE TABLE worker ( 
worker_id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY, 
first_name VARCHAR(15) NOT NULL, 
last_name VARCHAR(15) NOT NULL, 
salary int(7) NOT NULL,
joining_date TIMESTAMP,
department VARCHAR(15)
); 


INSERT INTO `worker` (`worker_id`, `first_name`, `last_name`, `salary`, `joining_date`, `department`) 
VALUES ('001', 'Monika', 'Arora', 100000, '2014-02-20 09:00:00', 'HR'),
       ('002', 'Niharika', 'Verma',80000, '2014-06-11 09:00:00', 'Admin'),
       ('003', 'Vishal', 'Singhal',300000, '2014-02-20 09:00:00', 'HR'),
       ('004', 'Amitabh', 'Singh', 500000, '2014-02-20 09:00:00', 'Admin'),
       ('005', 'Vivek', 'Bhati', 500000, '2014-06-11 09:00:00', 'Admin'),
       ('006', 'Vipul', 'Diwan', 200000, '2014-06-11 09:00:00', 'Account'),
       ('007', 'Satish', 'Kumar', 75000, '2014-01-20 09:00:00', 'Account'),
       ('008', 'Geetika', 'Chauhan', 90000, '2014-04-11 09:00:00', 'Admin');

CREATE TABLE title ( 
worker_ref_id INT(6), 
worker_title VARCHAR(15) NOT NULL, 
affected_from TIMESTAMP
); 

INSERT INTO `title` (`worker_ref_id`, `worker_title`, `affected_from`) 
VALUES ('1', 'Manager', '2016-02-20 00:00:00'),
       ('2', 'Executive', '2016-06-11 00:00:00'),
       ('8', 'Executive', '2016-06-11 00:00:00'),
       ('5', 'Manager', '2016-06-11 00:00:00'),
       ('4', 'Asst. Manager', '2016-06-11 00:00:00'),
       ('7', 'Executive', '2016-06-11 00:00:00'),
       ('6', 'Lead', '2016-06-11 00:00:00'),
       ('3', 'Lead', '2016-06-11 00:00:00');

In [4]:
print("The {}{}{}".format("fox","eat","apple"))

The foxeatapple

In [15]:
n = 1000/777
print("The answer is {r:4.6f}".format(r=n))

The answer is 1.287001

In [16]:
print(f"the answer is {n}")

the answer is 1.287001287001287

In [17]:
print("Fox eat {}".format("chicken"))

Fox eat chicken

In [18]:
print("{} {} {}".format("Python","rules","!"))

Python rules !

In [27]:
l=[3,6,4,49,2]
l.sort()
l

[2, 3, 4, 6, 49]

# Python Basics

### Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [47]:
summ = 0
for i in range(1,11):
    summ += i
    print(summ)

1
3
6
10
15
21
28
36
45
55

In [48]:
summ = 0
for i in range(1,11):
    summ = i + i-1
    print(summ)

1
3
5
7
9
11
13
15
17
19

In [12]:
l=[1,3,5,7,9]
summ=0
for i in range(len(l)-1):
    summ = l[i]+l[i+1]
    print(summ)

4
8
12
16

### Reverse a given number and return true if it is the same as the original number

In [13]:
def reverseTest(n):
    if str(n) == str(n)[::-1]: 
        return True
    return False
reverseTest(101)

True

In [14]:
reverseTest(100)

False

### Python program to display all the prime numbers within a range

In [99]:
def findPrime(a,b):
    for num in range(a,b+1):
        if num >1:
            for i in range(2,num):
                if num % i ==0:
                    break
            else:print(num)

In [100]:
findPrime(2,19)

2
3
5
7
11
13
17
19

### Display Fibonacci series up to 10 terms

In [106]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return(fibo(n-1) +fibo(n-2))
for i in range(0,10):
    print(fibo(i))

0
1
1
2
3
5
8
13
21
34

### Write a loop to find the factorial of any number

In [16]:
def fac(n):
    p=1
    for i in range(1,n+1):
        p *= i
    return p
fac(6)

720

In [7]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [8]:
myfunc(40,600)

32.0

# Functions

### Write a function func1() such that it can accept a variable length of  argument and print all arguments value

In [34]:
def func1(*args):
    for arg in args:
        print(arg + 5)
func1(3,4,5)

8
9
10

In [52]:
def func2(**kwargs):
    print(kwargs)
    for kwarg in kwargs:
        print("I love {}".format(kwargs['kwarg1']))
func2(kwarg1="apple",kwarg2="banana",kwarg3="chocolate")

{'kwarg1': 'apple', 'kwarg2': 'banana', 'kwarg3': 'chocolate'}
I love apple
I love apple
I love apple

In [55]:
dic={'a':11,'b':22,'c':33}
[j for i,j in dic.items()]

[11, 22, 33]

In [58]:
def func2(**kwargs):
    print(kwargs)
    for kwarg in kwargs:
        print("I love {}".format([v for k,v in kwargs.items()]))
func2(kwarg1="apple",kwarg2="banana",kwarg3="chocolate")

{'kwarg1': 'apple', 'kwarg2': 'banana', 'kwarg3': 'chocolate'}
I love ['apple', 'banana', 'chocolate']
I love ['apple', 'banana', 'chocolate']
I love ['apple', 'banana', 'chocolate']

In [34]:
def func2(**kwargs):
    print(kwargs)
    for kwarg in kwargs:
        print("I love {}".format(kwargs['kwarg1']))
func2(kwarg1="apple",kwarg2="banana",kwarg3="chocolate")

{'kwarg1': 'apple', 'kwarg2': 'banana', 'kwarg3': 'chocolate'}
I love apple
I love apple
I love apple

In [59]:
def myfunc(*args):
    return sum(args)
myfunc(5,6,7,8)

26

### Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

In [148]:
def calculation(a,b):
    return "sum:", a+b, "subtraction:", a-b
calculation(10,15)

('sum:', 25, 'subtraction:', -5)

In [33]:
s={1:2,2:4,3:6,4:8}
type(s)

dict

# String

In [1]:
s="helloworld"
list(s)

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [25]:
def myfunc(s):
    result=''
    for i in range(len(list(s))):
        if i %2 == 0:
            list(s)[i] = list(s)[i].upper()
        else:list(s)[i] = list(s)[i].lower()
    return "".join(list(s))
myfunc("anthropomorphism")

'anthropomorphism'

In [24]:
def myfunc(string):
    result=''
    for x in range(len(string)):
        if x%2==0:
            result=result+string[x].upper() 
        else:
            result=result+string[x].lower()
    return result
myfunc('anthropomorphism')

'AnThRoPoMoRpHiSm'

In [17]:
s="anthropomorphism"
s=s.upper()
s

'ANTHROPOMORPHISM'

### Find all occurrences of “USA” in given string ignoring the case

In [152]:
def findString(s):
    return s.upper().count("USA")
findString("Welcome to USA. usa awesome, isn't it? usA is the real UsA!")

4

### Split a given string on hyphens into several substrings and display each substring

In [180]:
def splitHyphen(s):
    return s.split("-")
splitHyphen("a-bfd-ckmn-678-4k58f-9090-!!!")

['a', 'bfd', 'ckmn', '678', '4k58f', '9090', '!!!']

### Join each element of list into a comma separated string

In [155]:
l = ['a', 'b', 'c', 'd']
css = ','.join(l)
css

'a,b,c,d'

# Data Structures

In [47]:
d = {2:3, 1:89, 4:5, 3:0}
sd = sorted(d.items())

for k,v in sd:
    print(k, v)

1 89
2 3
3 0
4 5

In [50]:
d = {2:3, 1:89, 4:5, 3:0}
from collections import OrderedDict as od
odd = od(sorted(d.items()))
dict(odd)

{1: 89, 2: 3, 3: 0, 4: 5}

### Given a Python list you should be able to display Python list in the Ascending order

In [157]:
l=[5,15,-4,9,28]
print(sorted(l))

[-4, 5, 9, 15, 28]

### Map 2 lists to create a dictionary

In [162]:
l1=['A','B','C','D','R']
l2 = [1580,49,332,67]
dic = dict(zip(l1,l2))
dic

{'A': 1580, 'B': 49, 'C': 332, 'D': 67}

### Initialize dictionary with default values

In [166]:
from collections import defaultdict
mydict = defaultdict(list)
mydict["key"].append(5)
mydict

defaultdict(list, {'key': [5]})

In [164]:
type(mydict)

collections.defaultdict

In [1]:
from collections import defaultdict
mydict = defaultdict(set)
mydict["key"].add(5)
mydict

defaultdict(set, {'key': {5}})

### Find common items between 2 sets

In [175]:
a = set([1,3,5,7,9,8,0])
b = set([0,2,4,6,8,10])
a.intersection(b)

{0, 8}

# OOP

In [51]:
from datetime import date
class Person:
    def __init__(self, names, birth):
        self.names = names
        self.birth = birth
    def calculateAge(self):
        self.today = date.today()
        return self.today.year - self.birth.year - ((self.today.month, self.today.day) < (self.birth.month, self.birth.day))
    def printer(self):
        print("My name is ",self.names,", and my birthday is ",self.birth)

In [54]:
o = Person("Troy",date(1995,7,27))

In [55]:
o.calculateAge()

25

In [212]:
o.printer()

My name is  Troy , and my birthday is  1995-07-27

In [72]:
class names:
    def __init__(self,name):
        self.name = name
    def count(self,char):
        return self.name.count(char)
    def odd(self, lst_number):
        return [i for i in lst_number if i%2 != 0]

o=names('TroyTTTT')
print(o.count("T"))
print(o.odd([1,2,3,4,5,6,7,9,9]))

5
[1, 3, 5, 7, 9, 9]

In [75]:
s = "fineUSAaaaUSA"
s.find("USA",2)

4

# SQL
https://www.techbeamers.com/sql-query-questions-answers-for-practice/

### Write an SQL query to fetch unique values of DEPARTMENT from Worker table

In [ ]:
select department
from worker
group by department

In [ ]:
select distinct department
from worker

In [61]:
class Greeting():
    def __init__(self):
        print('hello')
o=Greeting()
o

hello

In [67]:
def default_dict():
    return 15
from collections import defaultdict
x=defaultdict(default_dict)
print(x[3])
type(x)
dict(x)

15

{3: 15}

### Write an SQL query to print details of the Workers who are also Managers

In [ ]:
SELECT DISTINCT W.FIRST_NAME, T.WORKER_TITLE
FROM Worker W
INNER JOIN Title T
ON W.WORKER_ID = T.WORKER_REF_ID
AND T.WORKER_TITLE in ('Manager');

In [ ]:
SELECT DISTINCT W.FIRST_NAME, T.WORKER_TITLE
FROM Worker W
INNER JOIN Title T
ON W.WORKER_ID = T.WORKER_REF_ID
where t.worker_title = 'manager';

### Write an SQL query to fetch the no. of workers for each department in the descending order.

In [ ]:
SELECT department, count(*) as NumberOfWorkers
from worker
group by department
order by NumberOfWorkers desc;

### Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
select salary
from (select salary, dense_rank() over (order by salary desc) as rank
     from worker)
where rank = 5

In [ ]:
select salary
from worker
order by salary desc
limit 4,1;

In [ ]:
select salary
from worker
order by salary desc
limit 1
offset 4;

In [ ]:
SELECT Salary
FROM Worker W1
WHERE 4 = (
 SELECT COUNT( DISTINCT ( W2.Salary ) )
 FROM Worker W2
 WHERE W2.Salary >= W1.Salary
 );

### Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
Select distinct W.WORKER_ID, concat(W.FIRST_NAME, ' ', w.last_name) as Name, W.Salary 
from Worker W, Worker W1 
where W.Salary = W1.Salary 
and W.WORKER_ID != W1.WORKER_ID;

In [5]:
def fib(n):
    if n <=1:
        return n 
    else:return fib(n-1)+fib(n-2)
for i in range(0,10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [10]:
def prime(a,b):
    for i in range(a,b):
        if i > 1:
            for j in range(2,i):
                if i % j ==0:
                    break
            else: print(i)
prime(-10,10)

2
3
5
7