In [5]:
summ=0
for i in range(11):
    if i >=1:
        summ = i + i - 1
        print(i,summ)

1 1
2 3
3 5
4 7
5 9
6 11
7 13
8 15
9 17
10 19

In [3]:
summ=0
for i in range(11):
    summ += i
    print(i,summ)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [6]:
def reverseTest(n):
    if str(n) == str(n)[::-1]:
        return True
    return False

In [7]:
reverseTest(100)

False

In [8]:
reverseTest(101)

True

In [10]:
reverseTest(5)

True

In [29]:
def FindPrime(a,b):
    for num in range(a,b+1):
        if num > 1:
            for i in range(2,num):
                if num%i==0:
                    break
            else: print(num)
#         else: return "pls input a positive range"
FindPrime(-10,9)

2
3
5
7

In [35]:
def fib(n):
    if n <=1:
        return n
    else: return fib(n-1)+fib(n-2)
for i in range(10):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [44]:
def fac(n):
    f = 1
    for i in range(1,n+1):
        f *= i
    return f
fac(5)

120

In [46]:
def func1(*args):
    for arg in args:
        print(arg)
func1(2,3,4,5,7,8,9)

2
3
4
5
7
8
9

In [50]:
def func2(**kwargs):
    for kwarg in kwargs:
        print("I want to eat {} and {}".format(kwargs['a'],kwargs['b']))
func2(a="apples",b='chocolate')

I want to eat apples and chocolate
I want to eat apples and chocolate

In [55]:
def calculation(a,b):
    return "sum:",a+b,"subtration:", a-b
calculation(5,3)

('sum:', 8, 'subtration:', 2)

In [57]:
def findusa(s):
    return s.upper().count("USA")
findusa("Usa is UsA. uSA is awesom, isn't it? The ReaL USA!")

4

In [58]:
def splitHyphen(s):
    return s.split("-")
splitHyphen("4a5a-0009-hello-worldo-Greatya-00")

['4a5a', '0009', 'hello', 'worldo', 'Greatya', '00']

In [60]:
def css(l):
    return ','.join(l)
css(['a','b','c','d'])

'a,b,c,d'

In [62]:
l=[4,100,-7,22,3.5]
print(sorted(l))

[-7, 3.5, 4, 22, 100]

In [64]:
l1=['a','b','c','y','z']
l2=[100,3,400,150,220]
d=dict(zip(l1,l2))
d

{'a': 100, 'b': 3, 'c': 400, 'y': 150, 'z': 220}

In [72]:
def default():
    return 0
from collections import defaultdict
dd=defaultdict(default)
print(dd['key1'])
d = dict(dd)
d

0

{'key1': 0}

In [74]:
s1=set([1,3,5,7,9])
s2=set([2,3,5,6,9,11])
s1.intersection(s2)

{3, 5, 9}

In [92]:
from datetime import date
class person:
    def __init__(self,names, dob):
        self.names = names
        self.dob = dob
    def age(self):
        self.today = date.today()
        self.age = self.today.year - self.dob.year - ((self.today.month, self.today.day) < (self.dob.month, self.dob.day))
        return self.age
    def printer(self):
        print("Name:",self.names,", Age:",self.age)

In [93]:
o = person("Troy",date(1995,7,27))

In [94]:
o.age()

25

In [95]:
o.printer()

Name: Troy , Age: 25

In [7]:
def prime(a,b):
    for num in range(a,b+1):
        if num > 1:
            for i in range(2,num):
                if num % i == 0:
                    break
            else: print(num)
prime(-8,10)

2
3
5
7

In [9]:
def fibo(n):
    if n <=1:
        return n
    else: return fibo(n-1)+fibo(n-2)
for i in range(10):
    print(fibo(i))

0
1
1
2
3
5
8
13
21
34

In [10]:
def default():
    return 0
from collections import defaultdict
dd = defaultdict(default)
print(dd['key1'])

0

In [11]:
d=dict(dd)
d

{'key1': 0}

In [13]:
from datetime import date
class person:
    def __init__(self, names, dob):
        self.names = names
        self.dob = dob
    def age(self):
        self.today = date.today()
        self.age = self.today.year - self.dob.year -((self.today.month, self.today.day)<(self.dob.month, self.dob.day))
        return self.age
    def printer(self):
        print("Name:",self.names,", age:", self.age)

In [14]:
o=person("Troy",date(1995,7,27))

In [15]:
o.age()

25

In [16]:
o.printer()

Name: Troy , age: 25

In [19]:
def prime(a,b):
    for num in range(a,b+1):
        if num > 1:
            for i in range(2,num):
                if num%i == 0:
                    break
            else: print(num)
prime(-8,20)

2
3
5
7
11
13
17
19