In [68]:
file = open('lines.txt', 'r') 
line = file.readlines()

In [69]:
line

['8\n',
 'Leonardo DiCaprio,The Revenant\n',
 'Christian Bale,Vice\n',
 'Morgan Freeman,Shawshank Redemption\n',
 'Leonardo DiCaprio,The Great Gatsby\n',
 'Christian Bale,American Psycho\n',
 'Morgan Freeman,The Dark Knight\n',
 'Christian Bale,The Dark Knight\n',
 'Samuel L. Jackson,Pulp Fiction']

In [37]:
import pandas as pd
df = pd.DataFrame([sub.split(",") for sub in lines[1:]],columns=['ACTOR_NAME','MOVIE_NAME'])
def top3actors(dff):   
    if dff['ACTOR_NAME'].nunique() <= 3:
        print(sorted(dff.ACTOR_NAME.unique().tolist()))
    else:print(sorted(df['ACTOR_NAME'].value_counts()[:3].index.tolist()))
top3actors(df)

['Christian Bale', 'Leonardo DiCaprio', 'Morgan Freeman']

In [38]:
import pandas as pd

df = pd.DataFrame([sub.split(",") for sub in lines[1:]],columns=['ACTOR_NAME','MOVIE_NAME'])
print(df)

          ACTOR_NAME              MOVIE_NAME
0  Leonardo DiCaprio          The Revenant\n
1     Christian Bale                  Vice\n
2     Morgan Freeman  Shawshank Redemption\n
3  Leonardo DiCaprio      The Great Gatsby\n
4     Christian Bale       American Psycho\n
5     Morgan Freeman       The Dark Knight\n
6     Christian Bale       The Dark Knight\n
7  Samuel L. Jackson            Pulp Fiction

In [39]:
df['ACTOR_NAME'].nunique()

4

In [40]:
s=df['ACTOR_NAME'].unique()
s

array(['Leonardo DiCaprio', 'Christian Bale', 'Morgan Freeman',
       'Samuel L. Jackson'], dtype=object)

In [41]:
df.ACTOR_NAME.unique().tolist()

['Leonardo DiCaprio', 'Christian Bale', 'Morgan Freeman', 'Samuel L. Jackson']

In [42]:
df['ACTOR_NAME'].value_counts()[:3].index.tolist()

['Christian Bale', 'Morgan Freeman', 'Leonardo DiCaprio']

In [43]:
def top3actor(dff):
    if dff['ACTOR_NAME'].nunique() <= 3:
        print(sorted(dff.ACTOR_NAME.unique().tolist()))
    else:print(sorted(df['ACTOR_NAME'].value_counts()[:3].index.tolist()))

In [44]:
top3actor(df)

['Christian Bale', 'Leonardo DiCaprio', 'Morgan Freeman']

In [17]:
sorted(df['ACTOR_NAME'].value_counts()[0:4])

[1, 2, 2, 3]

In [14]:
df['ACTOR_NAME'].value_counts()[3:4]

Samuel L. Jackson    1
Name: ACTOR_NAME, dtype: int64

In [ ]:
# elif: 
#   for i in range(0:4)
#   sorted(df['ACTOR_NAME'].value_counts()[2:3]) == sorted(df['ACTOR_NAME'].value_counts()[3:4]):
#     print(sorted(df['ACTOR_NAME'].value_counts()[:4].index.tolist()))
# else:print(sorted(df['ACTOR_NAME'].value_counts()[:3].index.tolist()))

In [45]:
df

          ACTOR_NAME              MOVIE_NAME
0  Leonardo DiCaprio          The Revenant\n
1     Christian Bale                  Vice\n
2     Morgan Freeman  Shawshank Redemption\n
3  Leonardo DiCaprio      The Great Gatsby\n
4     Christian Bale       American Psycho\n
5     Morgan Freeman       The Dark Knight\n
6     Christian Bale       The Dark Knight\n
7  Samuel L. Jackson            Pulp Fiction

In [46]:
dff=df.copy()
dff

          ACTOR_NAME              MOVIE_NAME
0  Leonardo DiCaprio          The Revenant\n
1     Christian Bale                  Vice\n
2     Morgan Freeman  Shawshank Redemption\n
3  Leonardo DiCaprio      The Great Gatsby\n
4     Christian Bale       American Psycho\n
5     Morgan Freeman       The Dark Knight\n
6     Christian Bale       The Dark Knight\n
7  Samuel L. Jackson            Pulp Fiction

In [47]:
dff=dff.groupby("ACTOR_NAME").count()

                   MOVIE_NAME
ACTOR_NAME
Christian Bale              3
Leonardo DiCaprio           2
Morgan Freeman              2
Samuel L. Jackson           1

In [49]:
dff['Rank'] = dff['MOVIE_NAME'].rank(method='dense', ascending=False)
dff

                   MOVIE_NAME  Rank
ACTOR_NAME
Christian Bale              3   1.0
Leonardo DiCaprio           2   2.0
Morgan Freeman              2   2.0
Samuel L. Jackson           1   3.0

In [57]:
dff['ACTOR_NAME']=dff.index

In [67]:
sorted(dff.loc[dff['Rank'] <= 3.0, 'ACTOR_NAME'].tolist())

['Christian Bale', 'Leonardo DiCaprio', 'Morgan Freeman', 'Samuel L. Jackson']

In [6]:
file = open('lines.txt', 'r') 
line = file.readlines()

In [3]:
import pandas as pd
df = pd.DataFrame([sub.split(",") for sub in line[1:]],columns=['ACTOR_NAME','MOVIE_NAME'])
  
if df['ACTOR_NAME'].nunique() <= 3:
    print(sorted(df.ACTOR_NAME.unique().tolist()))
else:
    df=df.groupby("ACTOR_NAME").count()
    df['Rank'] = df['MOVIE_NAME'].rank(method='dense', ascending=False)
    df['ACTOR_NAME']=df.index
    print(sorted(df.loc[df['Rank'] <= 3.0, 'ACTOR_NAME'].tolist()))

['Christian Bale', 'Leonardo DiCaprio', 'Morgan Freeman', 'Samuel L. Jackson']

In [7]:
import pandas as pd
df = pd.DataFrame([sub.split(",") for sub in line[1:]],columns=['ACTOR_NAME','MOVIE_NAME'])

In [11]:
type(df.iloc[:, 0])

pandas.core.series.Series

In [12]:
def top3(df):
    if df.iloc[:, 0].nunique() <= 3:
        print(sorted(df.iloc[:, 0].unique().tolist()))
    else:
        df=df.groupby(df.iloc[:, 0]).count()
        df['Rank'] = df.iloc[:, 1].rank(method='dense', ascending=False)
        df['column1']=df.index
        print(sorted(df.loc[df['Rank'] <= 3.0, 'column1'].tolist()))

In [5]:
file = open('lines.txt', 'r') 
line = file.readlines()
import pandas as pd
df = pd.DataFrame([sub.split(",") for sub in line[1:]])

In [6]:
def top3(df):
    if df.iloc[:, 0].nunique() <= 3:
        print(sorted(df.iloc[:, 0].unique().tolist()))
    else:
        df=df.groupby(df.iloc[:, 0]).count()
        df['Rank'] = df.iloc[:, 1].rank(method='dense', ascending=False)
        df['column1']=df.index
        print(sorted(df.loc[df['Rank'] <= 3.0, 'column1'].tolist()))

In [7]:
top3(df)

['Christian Bale', 'Leonardo DiCaprio', 'Morgan Freeman', 'Samuel L. Jackson']