# KMK technical assessment
Name: Zhongyi Zhang

Date: 2023-03-15

## Q1. Please import dataset and name it 'sddm', and do not include row number in the table

In [1]:
import pandas as pd
sddm = pd.read_csv('sddm.csv', index_col = 0)
sddm.head(10)

    phid  age region     rxdate  quantity     cost
1   A001   52   West   1/5/2017        83  1722.25
2   A001   52   West  1/18/2017       159  3299.25
3   A001   52   West  3/22/2017       339  7034.25
4   A001   52   West  3/27/2017        71  1473.25
5   A001   52   West  3/31/2017       201  4170.75
6   A001   52   West  4/11/2017       267  5540.25
7   A001   52   West  5/15/2017       163  3382.25
8   A001   52   West  5/31/2017       219  4544.25
9   A001   52   West  6/10/2017       229  4751.75
10  A001   52   West   7/1/2017       189  3921.75

## Q1-1. Please **PRINT OUT** how many rows contains in the `sddm` table.

In [2]:
print(len(sddm))

10479

## Q2. Please sort the physicians by the total quantity amount of drug D prescription in descending order

In [3]:
sddm_quantity = pd.DataFrame(sddm.groupby(['phid'])['quantity'].sum())
sddm_quantity = sddm_quantity.rename(columns={"quantity": "total_quantity"})

# sort total quantity from high to low
sddm_quantity = sddm_quantity.sort_values(by=['total_quantity'], ascending = False)

# I would want dense rank for ties if two or more phids have same total quantity
sddm_quantity['rank'] = sddm_quantity['total_quantity'].rank(method='dense',ascending = False).astype(int)
sddm_quantity = sddm_quantity.reset_index()

# I saw the example provided in the answer sheet has index starting from 1 instead of 0
sddm_quantity.index = sddm_quantity.index + 1
sddm_quantity.head(15)

    phid  total_quantity  rank
1   A617            5971     1
2   A650            5343     2
3   A556            5328     3
4   A562            5282     4
5   A302            5144     5
6   A481            5130     6
7   A632            5102     7
8   A167            5049     8
9   A015            4889     9
10  A052            4889     9
11  A690            4768    10
12  A466            4767    11
13  A692            4690    12
14  A594            4670    13
15  A358            4669    14

## Q2-1. Please generate a table with descending order of "rank", and **PRINT OUT** the 26th row

In [4]:
# According to the question, generate the table with descending order of "rank"
sddm_quantity_descending_rank = sddm_quantity.sort_values(by=['rank'], ascending = False)

# the index starts from 0, so 26th row is basically ".iloc[25:26]"
print(sddm_quantity_descending_rank.iloc[25:26])

     phid  total_quantity  rank
675  A116            1435   601

## Q2-2. Please **PRINT OUT** the physician rank number 9

In [5]:
print(sddm_quantity.loc[sddm_quantity["rank"] == 9])

    phid  total_quantity  rank
9   A015            4889     9
10  A052            4889     9

## Q3. Please find the average physician age by region and **PRINT OUT** the whole table with ascending order of average age rounded to 2 decimals

In [6]:
# select only first row of each physician so one physician will only appear once before calculating the average
sddm_age = sddm.groupby('phid', as_index = False).first()
sddm_age_region = pd.DataFrame(round(sddm_age.groupby(['region'])['age'].mean(), 2))
sddm_age_region = sddm_age_region.sort_values(by=['age'], ascending = True)
print(sddm_age_region)

             age
region
Midwest    32.39
South      33.87
West       34.38
Northeast  34.66

## Q4. Please find all physicians who prescribed drug D between Jan 01, 2017 and May 31, 2017 with an average daily cost greater or equal to $6,000 during this period

In [7]:
import copy
import datetime
sddm_date = copy.deepcopy(sddm)

# convert 'rxdate' column into datetime datatype
sddm_date['rxdate'] = pd.to_datetime(sddm_date['rxdate'])

# find the total cost per physician in the day
sddm_date = pd.DataFrame(sddm_date.groupby(['phid','rxdate'], as_index = False)['cost'].sum())

# find all the physicians with dates that satisfy the condition between 2017-01-01 and 2017-05-31 and cost >= 6000
sddm_date_cost = sddm_date[(sddm_date['rxdate'] >= '2017-1-1') & (sddm_date['rxdate'] <= '2017-5-31') & (sddm_date['cost'] >= 6000)]

# find all the distinct phid that satisfy the above conditions
physicians = pd.DataFrame({"phid": sddm_date_cost["phid"].unique()})
physicians.index = physicians.index + 1
physicians

     phid
1    A001
2    A004
3    A005
4    A006
5    A007
..    ...
504  A696
505  A697
506  A698
507  A699
508  A700

[508 rows x 1 columns]

## Q4-1. Please **PRINT OUT** how many physician had average daily cost greater or equal to $6,000 based on the description of Q4.

In [8]:
print(len(physicians))

508

## Q4-2. Please **PRINT OUT** the physician id who had the second highest average daily cost.

In [9]:
sddm_date_cost_avg = pd.DataFrame(sddm_date_cost.groupby(['phid'])['cost'].mean())

# find the 2nd highest, so cost should be in descending order from high to low, so set ascendint = False
sddm_date_cost_avg = sddm_date_cost_avg.sort_values(by=['cost'], ascending = False).reset_index()
print(sddm_date_cost_avg['phid'].iloc[1:2])

1    A119
Name: phid, dtype: object

## Q5. Please find all physicians who prescribed drug D on 2 consecutive dates

In [10]:
sddm_consecutive = sddm[["phid","rxdate"]]

# convert 'rxdate' column into datetime datatype
sddm_consecutive['rxdate'] = pd.to_datetime(sddm_consecutive['rxdate'])

# make sure the data is sorted by phid and rxdate both in ascending order
sddm_consecutive = sddm_consecutive.sort_values(by=['phid','rxdate'], ascending = [True, True])

# assign a tester column that it will print the same number when consecutive dates happened
sddm_consecutive['tester_consecutive_date'] = sddm_consecutive.rxdate.diff().dt.days.ne(1).cumsum()

# count the tester_consecutive column and find all the numbers appear more than once
from collections import Counter
counts = Counter(sddm_consecutive.tester_consecutive_date)
sddm_consecutive = sddm_consecutive[sddm_consecutive.tester_consecutive_date.isin([key for key in counts if counts[key] > 1])]

# find all the distinct phid that satisfy the above conditions with consecutive dates
physicians_consecutive = pd.DataFrame({"phid": sddm_consecutive["phid"].unique()})
physicians_consecutive.index = physicians_consecutive.index + 1
physicians_consecutive

<ipython-input-10-5e09a3e62c4c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sddm_consecutive['rxdate'] = pd.to_datetime(sddm_consecutive['rxdate'])

     phid
1    A003
2    A004
3    A005
4    A006
5    A008
..    ...
297  A680
298  A684
299  A689
300  A690
301  A696

[301 rows x 1 columns]

## Q5-1. Please **PRINT OUT** how many physician prescribed on 2 consecutive dates

In [11]:
print(len(physicians_consecutive))

301

## Q5-2. Please **PRINT OUT** how many physician who prescribed on 2 consecutive dates more than once
Hint: if a physician prescribed on > 2 consecutive dates (e.g. 2010-01-01, 2010-01-02, 2010-01-03), this physician will be considered as prescribed on 2 consecutive dates twice (e.g. 2010-01-01 to 2010-01-02, and 2010-01-02 to 2010-01-03)

In [12]:
# According to the hint, as long as prescribed consecutively in 3 days, the phid will be counted as consecutive more than once
# the logic will be similar to above, but the flag will be > 2 instead of > 1 here:

more_than_once = sddm[["phid","rxdate"]]

# convert 'rxdate' column into datetime datatype
more_than_once['rxdate'] = pd.to_datetime(more_than_once['rxdate'])

# make sure the data is sorted by phid and rxdate both in ascending order
more_than_once = more_than_once.sort_values(by=['phid','rxdate'], ascending = [True, True])

# assign a tester column that it will print the same number when consecutive dates happened
more_than_once['tester_consecutive_date'] = more_than_once.rxdate.diff().dt.days.ne(1).cumsum()

# count the tester_consecutive column and find all the numbers appear > 2 times
counts = Counter(more_than_once.tester_consecutive_date)
more_than_once = more_than_once[more_than_once.tester_consecutive_date.isin([key for key in counts if counts[key] > 2])]

# find all the distinct phid that satisfy the above conditions with consecutive dates more than once
consecu_more_than_once = pd.DataFrame({"phid": more_than_once["phid"].unique()})
consecu_more_than_once.index = consecu_more_than_once.index + 1
print(len(consecu_more_than_once))

12

<ipython-input-12-f966b132bf8e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_than_once['rxdate'] = pd.to_datetime(more_than_once['rxdate'])

## Q6-1. Please find the physicians who had average of at least 2 prescriptions per month during April 01, 2017 to Dec 31, 2017 and had no prescription during Jan 01, 2017 to March 31, 2017

In [13]:
sddm_q6 = copy.deepcopy(sddm)
sddm_q6['rxdate'] = pd.to_datetime(sddm_q6['rxdate'])
sddm_q6['month_start'] = pd.to_datetime(sddm_q6.rxdate.values.astype('datetime64[M]'))

# make sure the data is sorted by phid and initial month both in ascending order
sddm_q6 = sddm_q6.sort_values(by=['phid','month_start'], ascending = [True, True])

sddm_q6['month_start'] = sddm_q6['month_start'].astype(str)
sddm_q6_first = sddm_q6.groupby('phid', as_index = False).first()

# filter only phid with no prescription between 2017-01-01 and 2017-03-31 and append them into a list array
# as long as their initial month is not Jan, Feb, or March, their initial month will be April
satisfied = []
i = 0
while i < len(sddm_q6_first):
    if sddm_q6_first.iloc[i][-1] != '2017-01-01' and sddm_q6_first.iloc[i][-1] != '2017-02-01' and sddm_q6_first.iloc[i][-1] != '2017-03-01':
        satisfied.append(sddm_q6_first['phid'][i])
    i += 1
# only keep the rows of physicians with no prescription between 2017-01-01 and 2017-03-31
sddm_q6 = sddm_q6[sddm_q6['phid'].isin(satisfied)]

# count the total number of prescriptions for these phid, then divided by 9 since April to December is 9 months to find average
sddm_q6_final = pd.DataFrame(sddm_q6.groupby(['phid'])['month_start'].count().reset_index().rename(columns={'month_start':'total_cnt'}))
sddm_q6_final['average'] = sddm_q6_final['total_cnt'] / 9

# after calculate the average, find the phid that have average >= 2 (at least 2 prescriptions/month from April to December)
sddm_q6_answer = sddm_q6_final.loc[sddm_q6_final['average'] >= 2]
sddm_q6_answer['phid']

4    A187
8    A303
Name: phid, dtype: object

## Q6-2. Please first calculate the average cost per prescription for the physicians obtained in Q6-1, and then **PRINT OUT** for each physician, how many prescriptions exceeded the average cost per prescription.

In [14]:
# the physicians I obtained in Q6-1 are "A187" and "A303", so I first filter the data only for these two physicians
q6_phid = sddm_q6_answer['phid'].tolist()
sddm_q6_2 = copy.deepcopy(sddm)
sddm_q6_2 = sddm_q6_2[sddm_q6_2['phid'].isin(q6_phid)].reset_index()

# find the total cost for the two phids
sddm_q6_2_cost = pd.DataFrame(sddm_q6_2.groupby(['phid'])['cost'].sum().reset_index().rename(columns={'cost':'total_cost'}))
# find the total count for the two phids
sddm_q6_2_count = pd.DataFrame(sddm_q6_2.groupby(['phid'])['cost'].count().reset_index().rename(columns={'cost':'total_count'}))

# join the total cost and total counts into one table and calculate the average for the two phids
sddm_q6_2_avg = sddm_q6_2_cost.merge(sddm_q6_2_count, how='left', on = ['phid'])
sddm_q6_2_avg['average'] = sddm_q6_2_avg['total_cost'] / sddm_q6_2_avg['total_count']

# join the average back to the full data of the two phids
sddm_q6_2_final = pd.merge(sddm_q6_2, sddm_q6_2_avg, how = 'left', on ='phid')

# find all the records that the price exceeds the average cost
sddm_q6_2_final = sddm_q6_2_final.loc[sddm_q6_2_final['cost'] > sddm_q6_2_final['average']].reset_index()

# finally, count the number of prescriptions exceeded the average cost per prescription
sddm_q6_2_final_table = pd.DataFrame(sddm_q6_2_final.groupby(['phid'])['average'].count().reset_index())

# print out the table
print(sddm_q6_2_final_table)

   phid  average
0  A187       11
1  A303       10